<div class="container">
    <div class="jumbotron">
        <h1>Eat Dat Burger!</h1>
        <img src="/assets/img/burger.png" alt="burger" class="img-responsive center-block">
    </div>

    <div class="row">
        <div class="col-md-4">
        <h2>Feelin' Hungry?</h2>
        <ul>
            {{#each burgers}}
            {{#unless this.devoured}}
            <li class="burger-name">
                <form action="burgers/updateOne{{this.id}}?_method=PUT" method="POST">
                    {{this.burger_name}}
                <input type='hidden' name='devoured' value='true'>
                <button type='submit' class="btn btn-outline-success btn-sm">GRUB IT</button>
                </form>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>


    <div class="col-md-4 container textbox">
        <h2> Add a Burger </h2>
            <form method="POST" action="burgers/insertOne">
                <fieldset class="form-group">
                <label>What kinda burger are you feeling like?</label>
                <input type="text" placeholder="whatchu craving?">
                </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <div class="col-md-4">
        <h2>Devour It!</h2>
        <ul>
        {{#each burgers}}
            {{#if this.devoured}}
            <li class="burger-name">
            {{this.burger_name}}
            <form action="/burgers/updateOne{{this.id}}?_method=PUT" method="POST">
                <input type='hidden' name='devoured' value='false'>
                <button type='submit' class="btn btn-outline-danger btn-sm">TOSS IT</button>
            </form>
            </li>
            {{/if}}
        {{/each}}
        </ul>
    </div>
</div>