<div class="container">
    <div class="jumbotron">
        <h1>Eat Dat Burger!</h1>
        <img src="/assets/img/burger.png" alt="burger" class="img-responsive center-block">
    </div>

    <div class="row">
        <div class="col-md-4">
        <h2>Grubbb?</h2>
        <ul>
            {{#each burger}}
                {{#unless this.devoured}}
                    <ul id="grub-list">
                        <li class="burger-name">
                            
                            <form action="/burgers/updateOne/{{this.id}}?_method=PUT" method="POST">
                                <input type="hidden" name="devoured" value="true">
                                {{this.burger_name}}
                            <button type='submit' class="btn btn-outline-success btn-sm">GRUB IT</button>
                            </form>
                        </li>
                    </ul>
                {{/unless}}
            {{/each}}
        </ul>
    </div>


    <div class="col-md-4 container textbox">
        <h2> Add a Burger </h2>
            <form method="POST" action="/burgers/insertOne">
                <label>What kinda burger are you feeling like?</label>
                <input type="text" name="burger_name" value="" placeholder="whatchu craving?">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <div class="col-md-4">
        <h2>Happy Tummy</h2>
        <ul>
        {{#each burger}}
            {{#if this.devoured}}
                <li class="burger-name">
                {{this.burger_name}}
                </li>
            {{/if}}
        {{/each}}
        </ul>
    </div>
</div>